
<p>This page describes the elements in the ClosedQuestion xml.</p>
<p>
  attributes:<br/>
  *type=(a|b|c) -> mandatory attribute, possible values: a or b or c<br/>
  (id|identifier)=String -> "id" and "identifier" are synonymous and of type String<br/>
</p>
<p>
  children:<br/>
  (?) -> 0 or 1<br/>
  (*) -> 0 or more<br/>
  (+) -> 1 or more<br/>
  (0|+) -> for some question type 0, for others 1 or more.<br/>
</p>

<pre>
&lt;question
  *type=(arrow|option|check|fillblanks|hotspot|hotspotmovie|dragdrop|balance|selectorder|pattern|sequence)
  duplicates=(0|1)
  alignment=(normal|horizontal)
  &gt;
    text         (?)
    prompt       (0|?)
    unit         (0|1)
    matheval     (*)
    textlabel    (*)
    hint         (*)
    correct      (0|1|?)
    option       (0|+)
    inlineoption (0|*)
    matchimg     (0|1)
    matchvid     (0|1)
    default      (0|?)
    startstate   (0|?)
    mapping      (0|*)
    question     (0|+)
&lt;/question&gt;


&lt;text&gt;
    XHTML
    inlinechoice  (0|*)
    feedbackblock (*)
    mathresult    (*)
&lt;/text&gt;


&lt;prompt&gt;
    XHTML
    mathresult    (*)
&lt;/prompt&gt;


&lt;unit&gt;
    XHTML
&lt;/unit&gt;


&lt;inlinechoice
  *(id|identifier)=String
  freeform=(0|1)
  group=String
  class=String
  style=String
/&gt;


&lt;feedbackblock
  *(id|identifier)=String
/&gt;


&lt;mathresult
  *(e|expression)=String
/&gt;


&lt;matheval
  store=(0|1)
  *(e|expression)=String
/&gt;


&lt;textlabel
  *(id|identifier)=String
  &gt;
  triggernumber (*)
&lt;/textlabel&gt;


&lt;triggernumber
  min=Float
  max=Float
  &gt;
  XHTML
&lt;/triggernumber&gt;


&lt;hint
  mintries=Integer
  maxtries=Integer
  feedbackblock=String
  &gt;
    XHTML
    mathresult
&lt;/hint&gt;


&lt;correct&gt;
    XHTML
    mathresult
&lt;/correct&gt;


&lt;option
  (id|identifier)=String
  &gt;
    choice      (1)
    description (?)
    feedback    (*)
    feedbackunselected (*)
&lt;/option&gt;


&lt;choice&gt;
    XHTML
    mathresult (*)
&lt;/choice&gt;


&lt;description&gt;
    XHTML
    mathresult (*)
&lt;/description&gt;


&lt;feedback(unselected)
  mintries=Integer
  maxtries=Integer
  feedbackblock=String
  &gt;
    XHTML
    mathresult (*)
&lt;/feedbac(unselected)k&gt;


&lt;inlineoption
  *(id|identifier)=String
  group=String
  &gt;
    XHTML
    mathresult (*)
&lt;/inlineoption&gt;


&lt;matchimg
  *src=URL
  height=Integer
  width=Integer
  maxchoices=Integer
  &gt;
    hotspot   (+)
    draggable (*)
&lt;/matchimg&gt;

&lt;matchvid
  *src=URL (or more URLs, separated by comma)
  height=Integer
  width=Integer
  maxchoices=Integer
  startAt=Float
  stopAt=Float
  &gt;
    hotspot   (+)
&lt;/matchvid&gt;

&lt;hotspot
  *shape=(rect|circle|poly)
  *(id|identifier)=String
  *coords=CSV of Integers
  &gt;
    XHTML
&lt;/hotspot&gt;


&lt;draggable
  *(id|identifier)=String
  class=String
  &gt;
    XHTML
&lt;/draggable&gt;


&lt;default|startstate
  *value=String
/&gt;


&lt;mapping
  *correct=(0|1)
  *stop=(0|1)
  &gt;
    and      (*)
    or       (*)
    not      (*)
    match    (*)
    range    (*)
    feedback (*)
&lt;/mapping&gt;


&lt;and&gt;
    and   (*)
    or    (*)
    not   (*)
    match (*)
    range (*)
&lt;/and&gt;


&lt;or&gt;
    and   (*)
    or    (*)
    not   (*)
    match (*)
    range (*)
&lt;or&gt;


&lt;not&gt;
    (and|or|not|match|range) (1)
&lt;not&gt;


&lt;match
  matchall=(0|1)
  inlinechoice=String
  inlineoption=String
  pattern=String
  hotspot=String
  draggable=String
  timestart=Float
  timeend=Float
/&gt;


&lt;range
  matchall=(0|1)
  inlinechoice=String
  value=Number|Math
  minval=Number|Math
  maxval=Number|Math
/&gt;
</pre>
