
/*
 * Styles for closedQuestion nodes.
*/

.qm_description {
  display: none;
}

.cqTable td {
  vertical-align: top;
}

.cqTargetTitle, .cqSourceTitle{
  margin-bottom: 0;
  margin-top: 0.2em;
  margin-left: 5px;
}

.cqDropableList {
  padding: 5px 0 2em 0 !important;
}

.cqSoHorizontal .cqDropableList {
  float: left;
  margin-left: 5px;
  padding: 0px !important;
  width: 99%;
}

.cqDDList {
  background: #FFC;
  list-style-type: none;
  margin: 5px;
  min-height: 50px;
  padding: 5px;
}

.cqDDList li {
  background-color: #EEE;
  border: 1px solid #CCC;
  color: #000;
  cursor: move;
  margin: 5px;
  padding: 5px;
  list-style: none;
  position: relative;
}

.cqDDList .remove {
  background-color: #CCC;
  cursor: pointer;
  float: right;
  font-size: 75%;
  margin-top:0;
  padding: 0px 2px 0px 2px;
  position: absolute;
  right: 0;
  opacity: 0.6;
  top: 0;
  text-decoration: none;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  font-size: 0.6em;
}

@media(hover: hover) {
  .cqDDList .remove {
    display: none;
  }

  .cqDDList .remove:hover {
    background: red;
    color: white !important;
    opacity: 1;
  }
}


.cqTarget .cqDDList .cqDraggable:hover .remove {
  display: block;
}

.cqDDList li a {
  color: #444;
  text-decoration: underline;
}

.cqNoDel .remove{
  display: none !important;
}

.cqNoDel .remove:hover{
  display: none !important;
}

.cqImageFeedback {
  display: none;
}

.cqDraggable{
  min-width: 50px;
}

.cqSoNormal, .cqSoHorizontal{
  margin-top: 1em;
}

.cqSource {
  border: 1px solid #CCC;
  float: left;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 5px;
  width: 48%;
}

.cqTargets {
  border: 1px solid #CCC;
  float: left;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 5px;
  width: 48%;
}

.cqSoClear {
  clear: both;
  margin: 0px 0px -5px 0px;
  padding: 0px;
}

/* Switches for horizontal or vertial Select&Order alignment */
.cqSoHorizontal .cqDDList {
  clear: both;
}

.cqSoHorizontal .cqDDList li.cqDraggable {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
}

.cqSoHorizontal .cqSource {
  width: 99%;
}

.cqSoHorizontal .cqTargets {
  width: 99%;
}


.cqDDList li li {
  border: initial;
  cursor: initial;
  list-style: initial;
  float: none !important;
  margin: initial;
  padding: initial;
}

.CqQuestionSelectOrder .ui-sortable-helper, #soEditor .ui-sortable-helper{
  opacity: 0.5;
}

.CqQuestionSelectOrder .ui-sortable-placeholder, #soEditor .ui-sortable-placeholder{
  padding: 5px !important;
  border: 2px dotted gray;
  visibility: visible !important;
  box-sizing: content-box;
}


/* Drag & drop styles */
.cqDdDraggable {
  background-color: #FFF;
  cursor:move;
  font-size: 120%;
  min-width: 50px;
  padding: 0px 2px 0px 2px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  z-index: 10000;
  font-size: 1em;
  box-shadow: 3px 3px 3px #ccc;
  border: 1px dashed #ccc;
  font-family: "Lato", sans-serif;
  box-sizing: content-box !important;
  line-height: 16px;
  font-size: 16px;
}

.cqDdDraggable.ui-draggable p{
  margin-bottom: 0;
  line-height: 1.2;
}

.cqDdDraggable_small {
  min-width: 0px;
  white-space: nowrap;
}

.cqDdDraggable_reduced {
  background: none;
  border: 1px dotted #CCC;
  min-width: 0px;
  white-space: nowrap;
}

.cqDdDraggable_minimal {
  background: none;
  border: none;
  min-width: 0px;
  padding: 0px;
  white-space: nowrap;
}

.cqDdDraggableError{
  border: 2px dashed red;
  cursor: help;
}

p.cqExplanation {
  background: white;
  color: #000;
  margin: 10px;
  text-align: left;
  width: 95%;
}

.cqMatchImgBox {
  background: #eee;
  background-repeat: no-repeat;
  border: 1px solid black;
  margin: 0px;
  margin-bottom: 5px;
  min-height: 50px;
  padding: 0px;
  position: relative;
  z-index: 0;
  text-align: center;
  display: inline-block;
}

.cqFbBlock {
  color: #007;
}

div.cqFbItem {
  display: inline;
}

.cq-feedback-wrapper{
  color:#008000;
}

.cqMovieQuestionCrosshair {
  background-color : red;
  position : absolute;
  width : 15px;
  height : 15px;
  cursor : pointer;
}

.cqMovieQuestionVideoContainer {
  margin: 0 auto;
}
.cqMovieQuestionContainer video {
  cursor: crosshair;
}

.cqMovieQuestionPlayButton {
  background: #ccc;
  color: black;
  text-align:center;
  cursor: pointer;
}

.cqMovieQuestionOverlay {
  position: absolute;
  height: 2em;
  position: absolute;
  top: 40%;
  width: 100%;
  background-color: gray;
  opacity: 0.85;
  text-align: center;
  color: white;
  font-size: 2em;
  font-family: Arial;
  cursor: pointer;
}

.cqMovieQuestionClickCounter {
  background-color: #00CC00;
  box-shadow: 5px 5px 5px #CCCCCC;
  color: #FFFFFF;
  font-family: arial;
  font-size: 8pt;
  left: 0;
  padding: 3px;
  position: absolute;
  top: 0;
  text-align: center;
}

.cqMovieQuestionClickCounter p {
  margin: 0;
  text-align: left;
}

.cqHotspotImageContainer{
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.cqHotspotImageContainer.cqMaxChoicesReached {
  cursor: default;
}

.cqHotspotDot{
  cursor: pointer;
  position: absolute;
  background-color: yellow;
  box-shadow: 1px 1px #444;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 999;
}

.cqHotspotDotNumber {
  color: yellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding-top: 10px;
}

.cqHotspotDot.big {
  width: 60px;
  height: 60px;
  background-color: yellow;
  opacity: 0.5;
  border: black 2px solid;
  border-radius: 60px;
}
.cqHotspotDot:hover{
  background-color: red;
  cursor: pointer;
}

.cqHotspotDot:hover .cqHotspotDotNumber {
  color: red;
}
.node-closedquestion label p {
  display: inline;
}

/* horizontal image gallery */
.node-closedquestion.cq_horizontal_image_gallery .form-item.form-type-checkbox,
.node-closedquestion.cq_horizontal_image_gallery .form-item.form-type-radio {
  display: inline;
}

.node-closedquestion.cq_horizontal_image_gallery .form-item.form-type-checkbox input ,
.node-closedquestion.cq_horizontal_image_gallery .form-item.form-type-radio input{
  display: none;
}

.node-closedquestion.cq_horizontal_image_gallery .form-item.form-type-checkbox input + label,
.node-closedquestion.cq_horizontal_image_gallery .form-item.form-type-radio input + label {
  border: 2px solid #ccc;
  margin-bottom:1rem;
  margin-top:5px;
  vertical-align: top;
}

.node-closedquestion.cq_horizontal_image_gallery .form-item.form-type-checkbox input:checked + label,.node-closedquestion.cq_horizontal_image_gallery .form-item.form-type-radio input:checked + label {
  border:#00669b 2px solid;
}

/* vertical image gallery */
.node-closedquestion.cq_vertical_image_gallery .form-item.form-type-checkbox, .node-closedquestion.cq_vertical_image_gallery .form-item.form-type-radio {
  display: block;
}

.node-closedquestion.cq_vertical_image_gallery .form-item.form-type-checkbox input ,.node-closedquestion.cq_vertical_image_gallery .form-item.form-type-radio input{
  display: none;
}

.node-closedquestion.cq_vertical_image_gallery .form-item.form-type-checkbox input + label,.node-closedquestion.cq_vertical_image_gallery .form-item.form-type-radio input + label {
  border: 2px solid #ccc;
}

.node-closedquestion.cq_vertical_image_gallery .form-item.form-type-checkbox input:checked + label,.node-closedquestion.cq_vertical_image_gallery .form-item.form-type-radio input:checked + label {
  border: 2px solid red;
}


/* http://stackoverflow.com/questions/20198137/image-label-for-input-in-a-form-not-clickable-in-ie11 */
.node-closedquestion.cq_vertical_image_gallery label img, .node-closedquestion.cq_horizontal_image_gallery label img{
  pointer-events: none;
}

.node-closedquestion .form-type-checkbox label {
  vertical-align: middle;
}

.node-closedquestion select{
  margin: 0;
}

.cqTooltipTarget {
  cursor: help;
}

.cqTooltipTarget > *{
  border-bottom-style: dashed;
  border-bottom-width: 1px;
}

area.cqTooltipTarget:focus {
  outline-width: 0; /* https://bugs.chromium.org/p/chromium/issues/detail?id=68487 */
}

.cqTooltip {
  max-width: 300px;
  position: absolute;
  color: inherit;
  font-size: 1em;
  padding: 5px;
  box-shadow: #888 5px 5px 5px;
  line-height: 1.6;
  pointer-events: none;
}

.cqOptionText{
  display: inline-block;
}

.node-closedquestion #edit-reset {
  background: #b73939;
}

.cqTransparentDraggables div.cqDdDraggable {
  border: 0;background:none;
  box-shadow: none !important;
}

/* Add scrollbars for large images. Hotspots and arrows are not responsive */
.CqQuestionHotspot .cqMatchImgBox.cqHotspot,
.CqQuestionDragDrop .cqMatchImgBox.ui-droppable,
.CqQuestionArrow .cqMatchImgBox {
  overflow-x: auto;
  text-align: left;
  max-width: 100%;
  height: auto !important;
  /* Use !important to override the height set on the style attribute of the div
     to prevent a vertical scrollbar when horizontal scrollbar is shown.
  */
}

/* Do not resize hotspot or arrow image. Hotspots and arrows are not responsive */
.CqQuestionHotspot .cqMatchImgBox.cqHotspot img,
.CqQuestionDragDrop .cqMatchImgBox.ui-droppable img,
.CqQuestionArrow .cqMatchImgBox img {
  max-width: none;
}

/* Add V or X in feedback fieldset to aid color blind users */
#closedquestion-get-form-for fieldset.cq_correct.form-wrapper > legend span.fieldset-legend::after {
  content: " \2714";
}

#closedquestion-get-form-for fieldset.cq_error.form-wrapper > legend span.fieldset-legend::after {
  content: " \2718";
}
