
/**
 * Styles for the closedQuestion node-edit screen and the xmlEditor.
 */

#body_field_wrapper {
  border: 1px solid #BBB;
  padding: 0px;
  margin: 0px;
}

#xmlJsonEditor_container h3{
  background: #333333;
  color: white;
  font-weight: bold;
  padding: 0.5em;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}
.xmlJsonEditor_attribute_gui{
  vertical-align: top;
  width: 3%;
}

div.xmlJsonEditor_attribute_gui{
  display: inline-block;
}

.xmlJsonEditor_attribute_container.xmlJsonEditor_attribute_gui{
  width: 97%;
}

.xmlJsonEditor_attribute .xmlJsonEditor_attribute_gui label {
  margin: 0;
}

.xmlJsonEditor_attribute .xmlJsonEditor_attribute_gui input {
  margin: 0;
  width: auto;
}

.xmlJsonEditorContentWysiwyg{
  border: 1px solid #ecf0f1;
  background: white;
  overflow-y: auto;
  padding: 1em 0 0 1em;
  width: 98%;
  white-space: normal;
  height: calc(100% - 26px);
}

.wysiwygEditorWrapper{
  height: 300px;
}

textarea#cq_editor_content {
  display: none;
  font-family: Courier;
  font-size: 10pt;
  background: black;
  color: white;
  margin: 0;
  width: calc(100% - 18px);
}

.xmlJsonEditor_editor  .ui-resizable-handle{
  background: #ccc;
  height: 6px;
  bottom: 0px;
}

.xmlJsonEditorContentWysiwyg inlinechoice,
.xmlJsonEditorContentWysiwyg feedbackblock,
.xmlJsonEditorContentWysiwyg mathresult,
.xmlJsonEditorContentWysiwyg websitelink
{
  display: inline-block;
  border: 1px #7f8c8d dotted;
  border-radius: 3px;
  min-width: 3em;
  min-height:1em;
  padding: 0 5px;
  cursor: pointer;
  background: #ecf0f1;
  box-sizing: border-box !important;
}

.xmlJsonEditorContentWysiwyg inlinechoice[freeform="1"][longtext="1"] {
  height: 40px;
  width: 90%;
}

.xmlJsonEditorContentWysiwyg mathresult span,
.xmlJsonEditorContentWysiwyg feedbackblock span,
.xmlJsonEditorContentWysiwyg websitelink span,
.xmlJsonEditorContentWysiwyg inlinechoice span{
  display: inline-block;
  background: white;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-family: Courier,  monospace;
  font-size: 0.9em;
  font-weight: normal;
  font-variant: initial;
}

#xmlJsonEditor_editor {
  overflow: auto;
  min-height: 500px;
}

.xmlJsonEditor_editor{
  overflow: hidden;
}

#xmlJsonEditor_template_container ul.links li {
  display: inline-block;
  border: 1px solid #ccc;
  width: 200px;
  height: 160px;
  vertical-align: top;
  margin: 0.5em;
  position: relative;
  text-align: center;
}

#xmlJsonEditor_template_container ul.links li a {
  background: #eee;
  margin: 5px;
  width: 100%;
  display: block;
  height: 40px;
}

#xmlJsonEditor_template_container a.cq-select-template img {
  max-width: 90%;
  max-height: 100px;
  display: block;
  position: absolute;
  bottom: 10px;
}

#selectedNodeUpdateButton{
  display: none;
}

.xmlJsonEditor_activeTab {
  border-top: 1px solid #BBB;
  border-left: 1px solid #BBB;
  border-right: 1px solid #BBB;
  background-color: #FFF;
  padding: 2px 5px 1px 5px;
  margin: 0px 2px 0px 2px;
}

.xmlJsonEditor_inactiveTab {
  border: 1px solid #BBB;
  background-color: #F0F0F0;
  padding: 0px 5px 0px 5px;
  margin: 4px 2px 0px 2px;
}

#xmlJsonEditor_container {
  display: none;
}

#xmlJsonEditor_template_container {
  display: none;
  width: 100%;
  padding: 10px;
  margin: 0px;
}

#xmlJsonEditor_editor fieldset{
  box-shadow: none;
  margin: 0;
  padding: 0;
}
.xmlJsonEditor_container img {
  border: 0;
}

.xmlJsonEditor_container a {
  text-decoration: none;
}

#xmlJsonEditor_container select, #xmlJsonEditor_container input {
  border: 1px solid #ccc;
}

#xmlJsonEditor_container select {
  min-width: 200px;
}

.xmlJsonEditor_container label {
  box-sizing: border-box !important;
  width: 100%;
  display: block;
  background-color: #ecf0f1;
  vertical-align: middle;
  font-size: 1em;
  margin: 0;
  padding: 0.5em;
  border-bottom: #ccc 1px solid;
}


.xmlJsonEditor_container h3 label {
  position: absolute;
  top: 0;
  left: 0;
  height: 1em;
  background: transparent;
  border: 0;
}

#selectedNodeRemoveContainer {
  position: absolute;
  top: 0;
  right: 0;
}

#selectedNodeRemoveContainer a {
  display: inline-block;
  text-align: center;
  color: white;
  font-size: 0.6em;
  line-height: 1.1em;
  padding-top: 0.6em;
  width: 4em;
}

#selectedNodeRemoveContainer a small {
  color: white;
  font-weight: normal;
}

#editor_values_legend {
  height: 2em;
}

.xmlJsonEditor_container a:hover {
  text-decoration: underline;
}

.xmlJsonEditor_container fieldset {
  padding: 5px;
  margin: 5px;
  border: 0;
}

.xmlJsonEditor_container legend {
  font-size: 1.1em;
  font-weight: bold;
}

.xmlJsonEditor_tree {
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  white-space: nowrap;
  overflow: auto;
  text-overflow: ellipsis;
  height: 100%;
  height: 80vh;
}

.xmlJsonEditor_tree var {
  font-size: 0.9em;
  font-style: normal;

}
.xmlJsonEditor_tree code {
  font-size: 0.9em;
  background: #eee;
  font-family: inherit;
}

.editor_values_contents {
  overflow: auto;
  table-layout: fixed;
  min-height: 200px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgb(170, 170, 170);
  background: white;
}

.editor_values_contents .grippie {
  display: none;
}

#xmlJsonEditor_tree_container{
  width: 100%;
  height: 100%;
}

.xmlJsonEditor_form_elements {
  overflow: auto;
  background: #ecf0f1;
  height: 80vh;
}

#xmlJsonEditor_container td {
  vertical-align: top !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  padding: 0 !important;
}

.xmlJsonEditor_form_container {
  white-space: normal;
}

.xmlJsonEditor_icon {
  max-width: 16px;
}

img.xmlJsonEditor_help_icon {
  cursor: help;
}

.xmlJsonEditor_attribute {
  position: relative;
}

.xmlJsonEditor_attribute textarea {
  width: 99%;
  height: 200px;
  margin-left: 5px;
  padding: 1%;
}

.xmlJsonEditor_attribute input[type="text"],
.xmlJsonEditor_attribute input[type="date"],
.xmlJsonEditor_editor input[type="text"],
.xmlJsonEditor_editor input[type="date"]
{
  width: 95%;
  padding: 5px 7px;
}

.xmlJsonEditor_attribute select {
  padding: 5px 7px;
}

.xmlJsonEditor_attribute.depricated {
  background-color: #fcc;
}

.xmlJsonEditor_container img {
  vertical-align: middle;
}

.xmlJsonEditor_form_description {
  min-height: 20px;
  padding: 5px;
  background-color: #bdc3c7;
  font-size: 1.1em;
}

.xmlJsonEditor_form_description > img.icon {
  float: left;
}

li.xmlJsonEditor_newNodeHighlighted a {
  font-weight: bold;
}

.xmlJsonEditor_container .jstree_cq-classic .jstree_cq-clicked, .xmlJsonEditor_container .jstree_cq-classic .jstree_cq-clicked em{
  color: white;
  background-color: #3498db;
  border: 0;
  height: 18px;
}
.xmlJsonEditor_container .jstree_cq-clicked code{
  color: white;
  background: transparent;
}

.xmlJsonEditor_container  .jstree_cq li{
  line-height: 20px;
}

.xmlJsonEditor_hotspot_tag {
  background-color: #666;
  color: white;
  font-size: 12px;
  padding: 2px;
  box-shadow: 1px 1px #888;
  border: 1px solid black;
  opacity: 0.8;
  z-index: 99;
  cursor: pointer;
}

.xmlJsonEditor_hotspot_tag.xmlJsonEditor_matched {
  background-color: yellow;
  color: black;

}

.xmlJsonEditor_container .jstree_cq a {
  color: #555;
  line-height: 18px;
  max-width: 1000px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 2px 0 1px;
  border: 1px solid transparent;
}

.xmlJsonEditor_container em {
  color: #000;
  font-style: normal;
  font-weight: normal;
}

.xmlJsonEditor_container .xmlJsonEditorContentWysiwyg em {
  font-style: italic;
}

input.xmlEditorAttributeFeedback_correct, select.xmlEditorAttributeFeedback_correct {
  background-color: #efe;
}

textarea.xmlEditorAttributeFeedback_error, input.xmlEditorAttributeFeedback_error, select.xmlEditorAttributeFeedback_error, div.xmlEditorAttributeFeedback_error {
  background-color: #fee;
}

div.xmlEditorAttributeFeedback {
  font-size: 0.85em;
  color: #444;
}

.ui-dialog .xmlEditorAttributeFeedback {
  margin-top: -12px;
  margin-bottom: 12px;
}

#editor_structure_contents {
  background: #ecf0f1;
  border-bottom: #ccc 1px solid;
}

#xmlJsonEditor_container td.xmlJsonEditor_attribute_container_wrap {
  padding:  0.5em !important;
  white-space:normal;
}

#selectedNodeDescription {
  font-size: 0.85em;
  margin-left: 20px;
}

div.xmlEditorAttributeFeedback ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-left: 0;
}

.xmlEditor_empty {
  font-style: italic;
  color: #999;
}

.selectedNodeAddlist {
  height: 135px;
}



#selectedNodeAddlist {
  margin: 0;
  height: 90px;
}

#xmlEditorAddContainer label {
  background: #333333;
  color: white;
  font-weight: bold;
  padding: 0.5em;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  border-right: 1px solid #ccc;
}

#xmlEditorAddContainer {
  display: flex;
}

.selectedNodeAddlist {
  flex: 2;
}

#xmlEditorAddContainer ul {
  display: inline-block;
}

#xmlEditorAddContainer li, .selectedNodeAddlistLi {
  display: inline-block;
  height: 80px;
  width: 150px;
  border: 1px solid #ecf0f1;
  margin: 8px;
  padding: 0;
  list-style-type: none;
  position: relative;
  cursor: copy;
  background: white;
  box-shadow: 1px 1px 3px #888;
  overflow: hidden;
}

#xmlEditorAddContainer li:hover,.selectedNodeAddlistLi:hover {
  background: #e7f4f9;
}

#xmlEditorAddContainer li span.title, .selectedNodeAddlistLi span.title{
  position:absolute;
  display: block;
  top: 0px;
  text-align: left;
  padding: 5px 5px;
  padding-left: 0.5em !important;
  font-size: 1em;
  background-color: #bdc3c7;
  width: 100%;
  color: #333;
}

#xmlEditorAddContainer li span.title img, .selectedNodeAddlistLi span.title img{
  margin-right: 1px;
}

#xmlEditorAddContainer li span.description, .selectedNodeAddlistLi span.description {
  position:absolute;
  display: block;
  top: 30px;
  padding: 3px;
  font-size: 0.8em;
  color: #888;
  line-height: 1em;
}

#selectedNodeRemoveButton:hover{
  color: red;
}

.xmlJsonEditor_buttons {
  border: #7f8c8d 1px solid;
  padding: 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  position: relative;
  background: #bdc3c7;
  white-space:pre-wrap;
}

.xmlJsonEditor_buttons button.button {
  display: inline-block;
  border: 1px solid #7f8c8d;
  cursor: pointer;
  min-width: 22px;
  height: 20px;
  padding: 3px;
  text-align: center;
  background-color: #ecf0f1;
  border-radius: 3px;
  font-size: 10px;
  vertical-align: middle;
  margin-left: 1px;
  margin-right: 1px;
  height: 25px;
  display: inline-block;
}


.xmlJsonEditor_buttons button.button:hover {
  background-color:#7f8c8d;
  color:white;
}

.xmlJsonEditor_buttons button.button_left {
  margin-right:0;
  border-top-right-radius:0;
  border-bottom-right-radius:0;
}

.xmlJsonEditor_buttons button.button_middle {
  margin-right:0;
  margin-left:0;
  border-radius:0;
}

.xmlJsonEditor_buttons button.button_right {
  margin-left:0;
  border-top-left-radius:0;
  border-bottom-left-radius:0;
}


.xmlJsonEditor_buttons select {
  background: none repeat scroll 0 0 #ecf0f1;
  border: 1px solid #7f8c8d;
  border-radius: 3px;
  height: 25px;
  padding: 1px;
  display: inline-block;
}

.xmleditor_regexpcoach{
  display: none;
  background-color: #f0f7ff;
  border-radius: 5px;
  padding: 5px;
}

.xmlJsonEditor_canvas {
  overflow:hidden;
  position:relative;
  border:#999999 1px solid;
  padding:0;
  background-color:white;
  cursor: crosshair;
  display: inline-block;
  clear: both;
}

.matchAttributeEditor .xmlJsonEditor_canvas {
  cursor:default;
}

.xmlJsonEditor_info {
  position:absolute;
  border:1px solid black;
  background-color: white;

  text-align: center;
  width:70px;
  height:70px;
  border-radius: 70px;
  overflow:hidden;
}

.xmlJsonEditor_info_cross {
  position: absolute;
  z-index: 99;
  top: 26px;
  left: 28px;
  font-size: 2em;
}

.xmlJsonEditor_info_coords{
  position: absolute;
  z-index: 99;
  width: 100%;
  background-color:white;
  opacity: 0.8;
  text-align: center;
  bottom: 0;
  font-size:0.8em;
  padding: 1px;
}

.xmlJsonEditor_info_image{
  position: relative;
}
.xmlJsonEditorTabs a {
  padding: 5px;
  margin-bottom: -1px;
  display: inline-block;
}

.xmlJsonEditorSpecialCharTable th {
  padding: 2px;
}

.xmlJsonEditorSpecialCharTable td {
  cursor: pointer;
  text-align: center;
  font-size: 1.3em;
}

.xmlJsonEditorSpecialCharTable td:hover{
  background: gray;
  color: white;
}

.ui-dialog {
  box-shadow: #7f8c8d 5px 5px 5px;
}

.ui-dialog .xmlEditorDialog {
  font-family: Open Sans,"Segoe UI","Helvetica",sans-serif;
  background: #bdc3c7;
}


.xmlEditorDialog input,.xmlEditorDialog select {
  border: 1px solid #ccc;
  width: 100%;
  padding: 2px;
  margin-top: 7px;
  margin-bottom: 15px;

}

.ui-dialog .ui-dialog-titlebar {
  height: 20px;
  color: transparent;
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-title {
  display: none;
}

.ui-dialog .ui-widget-header {
  background: #bdc3c7;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.xmlEditorDialogHelp {
  font-size: 0.7em;
  margin-top: -12px;
}

.ui-widget-content {
  color: black !important;
}

.xmlJsonEditorContentWysiwyg table, .xmlJsonEditorContentWysiwyg table td, .xmlJsonEditorContentWysiwyg table th {
  width: auto;
  position: initial;
}
.xmlJsonEditorContentWysiwyg table td{
  border: 2px dashed #ccc;
}

.xmlJsonEditorContentWysiwyg img.media-document {
  max-height: 3em;
  max-width: 3em;
}

img.media-element.media-document {
  display: block;
}

span.xmleditor_spacer {
  display: inline-block;
  width: 5px;
}

span.xmleditor_label {
  display: inline-block;
}

.xmlJsonEditor_attribute_title {
  font-size: 1em;
  vertical-align: top;
  background: #ecf0f1;
  font-weight:bold;
  width: 150px;
  padding: 0.5em;
}

.xmleditor_add_table_dimensioning {
  position: absolute !important;
  z-index: 9999;
  padding: 1em;
}

.xmleditor_table_dimensioning {
  background-repeat: repeat;
  height:100%;
  width:100%;
  margin: 0 auto;
  display: table;
  word-break: normal;

}

.xmleditor_table_dimensioning span {
  display: table-cell;
  vertical-align: middle;
}

.xmleditor_add_table_dimensioning img{
  display: none;
}


#xmlJsonEditor_container .xmlJsonEditorContentWysiwyg table tr td,
#xmlJsonEditor_container .xmlJsonEditorContentWysiwyg table tr th
{
  font-family: "Lato", sans-serif;
  padding: 0.5625em 0.625em;
  font-size: 14px;
  color: #222;
  padding: 5px !important;
  min-width:1em;
  height:1em;
}

#xmlJsonEditor_container .xmlJsonEditorContentWysiwyg table tr th {
  font-weight: bold;
  background: none;
  border: 1px solid #ccc;
  border-bottom: 3px solid #ccc;
}

/* Simple table edit */

#xmlJsonEditor_container  table.ste{
  position: relative;
}

#xmlJsonEditor_container .ste_active {
  border: 2px solid rgb(14, 101, 235) !important;
  background: rgba(14, 101, 235, 0.1);
  border-collapse: collapse;
}

#xmlJsonEditor_container .ste_highlight {
  border: 2px solid red !important;
}

#xmlJsonEditor_container .ste_copy {
  position: absolute;
  top: 0;

  right: -33px;

  border: 1px solid #7f8c8d;
  cursor: pointer;
  width: 25px;
  height: 20px;
  padding: 3px;
  text-align: center;
  background-color: #ecf0f1;
  border-radius: 3px;
  font-size: 10px;
  vertical-align: middle;
  margin-left: 1px;
  margin-right: 1px;
  height: 25px;
}

#xmlJsonEditor_container .ste_copy i {
  vertical-align: middle;
  font-size: 1.5em;
}

/* jquery popup buttons */
.deleteButton.ui-button.ui-widget {
  background: #c0392b;
  color: white;
}

.okButton.ui-button.ui-widget {
  background: #2ecc71;
  color: white;
}

/* Select & order editor */
.soEditor_box {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  margin-right: 1%;
}

ul.soEditor_sortable {
  width: 100%;
  margin: 0;
  padding: 5px 0 2em 0 !important;
  margin-right: 10px !important;
  margin-left: 0px !important;
  display: block;
  border: 1px dashed #ddd !important;
  background: #eee;
}

.soEditor_sortable li.soEditor_option{
  list-style-type: none;
  margin: 0 5px 5px 5px;
  padding: 5px;
  font-size: 1.2em;
  background-color: #d6e3ea;
  border: 2px solid #00669b;
  border-radius: 3px;
  color: #00669b;
  cursor: move;
  vertical-align: top;
}


li.soEditor_special {
  color: gray !important;
  font-style: italic;
  margin-top: 0.5em !important;
  margin-bottom:0.5em !important;
  border: 1px dotted gray;
}

div.soEditor_horizontal .soEditor_box {
  width: 100%;
}

div.soEditor_horizontal .soEditor_box ul.soEditor_sortable{
  padding: 0 !important;
  min-height: 50px;
}

div.soEditor_horizontal .soEditor_box ul.soEditor_sortable li.soEditor_option{
  display: inline-block;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}

div.soEditor_horizontal .soEditor_box {
  margin-bottom: 1em;
}


li.soEditor_hiddenByDefault {
  display: none !important;
}

.soEditor_visible {
  display: inherit !important;
}

#soEditor_sortable_source.soEditor_only_order .soEditor_option{
  background-color: transparent;
}

.xmlJsonEditor_editor websitelink {
  color: #00669b;
}

/* Multiple answer editor */
#maEditor {
  padding: 1em;

}

#maEditor .maEditor_source {
  padding: 1em;
  border: 1px dashed gray;
  margin-bottom : 1em;
}

#maEditor .maEditor_source label {
  display: inline !important;
  background: transparent !important;
  width: auto !important;
  font-weight: normal;
  border: 0;
}

#maEditor.cq_horizontal_image_gallery .maEditor_source label {
  display: inline-block !important;
}

#maEditor.cq_horizontal_image_gallery .maEditor_option {
  display: inline-block;
}

#maEditor.cq_horizontal_image_gallery .maEditor_option input{
  display: none;
}

#maEditor.cq_horizontal_image_gallery .maEditor_option input + label{
  border: 2px solid #ccc;
}

#maEditor.cq_horizontal_image_gallery .maEditor_option input:checked + label{
  border: 2px solid red;
}

/* vertical image gallery */
#maEditor.cq_vertical_image_gallery .maEditor_option{
  display: block;
}

#maEditor.cq_vertical_image_gallery .maEditor_option input {
  display: none;
}

#maEditor.cq_vertical_image_gallery .maEditor_option input + label{
  border: 2px solid #ccc;
}

#maEditor.cq_vertical_image_gallery .maEditor_option input:checked + label {
  border: 2px solid red;
}

#maEditor.cq_vertical_image_gallery .maEditor_source label {
  display: inline-block !important;
  padding: 0;
}

#maEditor .maEditor_option label :first-child {
  display: inline-block;
}

/* Match image editor */
.matchImgEditor.matchAttributeEditor {
  max-height: 500px;
  overflow: auto;
  margin-bottom: 0.5em;
  border: 1px solid #ccc;
}

/* Arrow editor */
.arrowEditorWrapper {
  padding: 0.5em;
}

.arrowEditorFeedback {
  font-size: 0.85em;
}

/***/

[rel="option"] [rel="choice"] {
  display: none !important;
}

[rel="comment"] {

}

[rel="comment"] ins.jstree_cq-icon {

}
