/*
 * jstree_cq default-rtl theme 1.0
 * Supported features: dots/no-dots, icons/no-icons, focused, loading
 * Supported plugins: ui (hovered, clicked), checkbox, contextmenu, search
 */

.jstree_cq-default-rtl li, 
.jstree_cq-default-rtl ins { background-image:url("d.png"); background-repeat:no-repeat; background-color:transparent; }
.jstree_cq-default-rtl li { background-position:-90px 0; background-repeat:repeat-y; }
.jstree_cq-default-rtl li.jstree_cq-last { background:transparent; }
.jstree_cq-default-rtl .jstree_cq-open > ins { background-position:-72px 0; }
.jstree_cq-default-rtl .jstree_cq-closed > ins { background-position:-54px 0; }
.jstree_cq-default-rtl .jstree_cq-leaf > ins { background-position:-36px 0; }

.jstree_cq-default-rtl .jstree_cq-hovered { background:#e7f4f9; border:1px solid #d8f0fa; padding:0 2px 0 1px; }
.jstree_cq-default-rtl .jstree_cq-clicked { background:#beebff; border:1px solid #99defd; padding:0 2px 0 1px; }
.jstree_cq-default-rtl a .jstree_cq-icon { background-position:-56px -19px; }
.jstree_cq-default-rtl a.jstree_cq-loading .jstree_cq-icon { background:url("throbber.gif") center center no-repeat !important; }

.jstree_cq-default-rtl.jstree_cq-focused { background:#ffffee; }

.jstree_cq-default-rtl .jstree_cq-no-dots li, 
.jstree_cq-default-rtl .jstree_cq-no-dots .jstree_cq-leaf > ins { background:transparent; }
.jstree_cq-default-rtl .jstree_cq-no-dots .jstree_cq-open > ins { background-position:-18px 0; }
.jstree_cq-default-rtl .jstree_cq-no-dots .jstree_cq-closed > ins { background-position:0 0; }

.jstree_cq-default-rtl .jstree_cq-no-icons a .jstree_cq-icon { display:none; }

.jstree_cq-default-rtl .jstree_cq-search { font-style:italic; }

.jstree_cq-default-rtl .jstree_cq-no-icons .jstree_cq-checkbox { display:inline-block; }
.jstree_cq-default-rtl .jstree_cq-no-checkboxes .jstree_cq-checkbox { display:none !important; }
.jstree_cq-default-rtl .jstree_cq-checked > a > .jstree_cq-checkbox { background-position:-38px -19px; }
.jstree_cq-default-rtl .jstree_cq-unchecked > a > .jstree_cq-checkbox { background-position:-2px -19px; }
.jstree_cq-default-rtl .jstree_cq-undetermined > a > .jstree_cq-checkbox { background-position:-20px -19px; }
.jstree_cq-default-rtl .jstree_cq-checked > a > .jstree_cq-checkbox:hover { background-position:-38px -37px; }
.jstree_cq-default-rtl .jstree_cq-unchecked > a > .jstree_cq-checkbox:hover { background-position:-2px -37px; }
.jstree_cq-default-rtl .jstree_cq-undetermined > a > .jstree_cq-checkbox:hover { background-position:-20px -37px; }

#vakata_cq-dragged.jstree_cq-default-rtl ins { background:transparent !important; }
#vakata_cq-dragged.jstree_cq-default-rtl .jstree_cq-ok { background:url("d.png") -2px -53px no-repeat !important; }
#vakata_cq-dragged.jstree_cq-default-rtl .jstree_cq-invalid { background:url("d.png") -18px -53px no-repeat !important; }
#jstree_cq-marker.jstree_cq-default-rtl { background:url("d.png") -41px -57px no-repeat !important; }

.jstree_cq-default-rtl a.jstree_cq-search { color:aqua; }

#vakata_cq-contextmenu.jstree_cq-default-rtl-context, 
#vakata_cq-contextmenu.jstree_cq-default-rtl-context li ul { background:#f0f0f0; border:1px solid #979797; -moz-box-shadow: 1px 1px 2px #999; -webkit-box-shadow: 1px 1px 2px #999; box-shadow: 1px 1px 2px #999; }
#vakata_cq-contextmenu.jstree_cq-default-rtl-context li { }
#vakata_cq-contextmenu.jstree_cq-default-rtl-context a { color:black; }
#vakata_cq-contextmenu.jstree_cq-default-rtl-context a:hover, 
#vakata_cq-contextmenu.jstree_cq-default-rtl-context .vakata_cq-hover > a { padding:0 5px; background:#e8eff7; border:1px solid #aecff7; color:black; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
#vakata_cq-contextmenu.jstree_cq-default-rtl-context li.jstree_cq-contextmenu-disabled a, 
#vakata_cq-contextmenu.jstree_cq-default-rtl-context li.jstree_cq-contextmenu-disabled a:hover { color:silver; background:transparent; border:0; padding:1px 4px; }
#vakata_cq-contextmenu.jstree_cq-default-rtl-context li.vakata_cq-separator { background:white; border-top:1px solid #e0e0e0; margin:0; }
#vakata_cq-contextmenu.jstree_cq-default-rtl-context li ul { margin-left:-4px; }

/* IE6 BEGIN */
.jstree_cq-default-rtl li, 
.jstree_cq-default-rtl ins,
#vakata_cq-dragged.jstree_cq-default-rtl .jstree_cq-invalid, 
#vakata_cq-dragged.jstree_cq-default-rtl .jstree_cq-ok, 
#jstree_cq-marker.jstree_cq-default-rtl { _background-image:url("d.gif"); }
.jstree_cq-default-rtl .jstree_cq-open ins { _background-position:-72px 0; }
.jstree_cq-default-rtl .jstree_cq-closed ins { _background-position:-54px 0; }
.jstree_cq-default-rtl .jstree_cq-leaf ins { _background-position:-36px 0; }
.jstree_cq-default-rtl a ins.jstree_cq-icon { _background-position:-56px -19px; }
#vakata_cq-contextmenu.jstree_cq-default-rtl-context ins { _display:none; }
#vakata_cq-contextmenu.jstree_cq-default-rtl-context li { _zoom:1; }
.jstree_cq-default-rtl .jstree_cq-undetermined a .jstree_cq-checkbox { _background-position:-18px -19px; }
.jstree_cq-default-rtl .jstree_cq-checked a .jstree_cq-checkbox { _background-position:-36px -19px; }
.jstree_cq-default-rtl .jstree_cq-unchecked a .jstree_cq-checkbox { _background-position:0px -19px; }
/* IE6 END */

/* RTL part */
.jstree_cq-default-rtl .jstree_cq-hovered, .jstree_cq-default-rtl .jstree_cq-clicked { padding:0 1px 0 2px; }
.jstree_cq-default-rtl li { background-image:url("dots.gif"); background-position: 100% 0px; }
.jstree_cq-default-rtl .jstree_cq-checked > a > .jstree_cq-checkbox { background-position:-36px -19px; margin-left:2px; }
.jstree_cq-default-rtl .jstree_cq-unchecked > a > .jstree_cq-checkbox { background-position:0px -19px; margin-left:2px; }
.jstree_cq-default-rtl .jstree_cq-undetermined > a > .jstree_cq-checkbox { background-position:-18px -19px; margin-left:2px; }
.jstree_cq-default-rtl .jstree_cq-checked > a > .jstree_cq-checkbox:hover { background-position:-36px -37px; }
.jstree_cq-default-rtl .jstree_cq-unchecked > a > .jstree_cq-checkbox:hover { background-position:0px -37px; }
.jstree_cq-default-rtl .jstree_cq-undetermined > a > .jstree_cq-checkbox:hover { background-position:-18px -37px; }